{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
{% ifequal info 'guest_user_already_exist' %}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>There is an account already exist with th email address {{ email }} on our system.</p>
        <p>Connection details had been sent to your email. You can see your previous details by searching your email inbox.</p>
        <p>If you don't remember your password use <a href="{{ new_password_view_url }}">New Password menu</a>
            to get a new password to your email.</p>
         {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'new_user_already_exist' %}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>{{ email }} address is already registered.</p>
        <p>Use <a href="{{ new_password_view_url }}">New Password menu</a> to get a new password to your email.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'host_user_invalid' %}
    {% blocktrans %}
    <h3> A user with the address {{ host_user_email }} is not registered to our system.</h3>
    {% endblocktrans %}
    {% endifequal %}
{% ifequal info 'password_change_invalid_mail' %}
    <h3>
        {% url new_user_view as new_user_view_url %}
        {% blocktrans %}
        <p>The email that you entered is not registered to our system.</p>
        <p> To register a new user click <a href="{{ new_user_view_url }}">link</a>.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
 {% endifequal %}
{% ifequal info 'mail_confirm' %}
<h3>
    {% blocktrans %}
    <p>Click on the link sent to the address ({{ email }}) to fulfill the account creation.</p>
    {% endblocktrans %}
</h3>
 <div class="row">
     <div class="offset4 span4">
         <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
     </div>
 </div>
{% endifequal %}
{% ifequal info 'guest_mail_confirm' %}
    <h3>
        {% blocktrans %}
        <p>When ever the link is clicked at the email address {{ host_email }} the wireless connection details will be
            sent to the address {{ email }}.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'password_change_mail_confirm' %}
    <h3>
        {% blocktrans %}
        <p>You can click the link sent to the address ({{ email }}) and the new password will be sent to your email.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'new_user_already_exists' %}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>You had registered before by clicking this link.</p>
        <p>If you forget your password use <a href="{{ new_password_view_url }}">New Password menu</a>
            to get a new password to your email address.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'guest_user_already_exists' %}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>You had registered before by clicking this link.</p>
        <p>If you forget your password use <a href="{{ new_password_view_url }}">New Password menu</a>
            to get a new password to your email address.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'new_user_info' %}
    <h3>
        {% blocktrans %}
        <p>Your wireless connection details were sent to the email address {{ email }}.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'guest_user_info' %}
    <h3>
        {% blocktrans %}
        <p>Your wireless connection details were sent to the email address {{ email }}.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'new_user_link_timeout' %}
    <h3>
        {% url new_user_view as new_user_view_url %}
        {% blocktrans %}
        <p>You haven't clicked the link in the defined timeout interval.</p>
        <p>Repeat your <a href="{{ new_user_view_url }}">New User</a> application.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'guest_user_link_timeout' %}
    <h3>
        {% url guest_user_view as guest_user_view_url %}
        {% blocktrans %}
        <p>You haven't clicked the link in the defined timeout interval.</p>
        <p>Repeat your <a href="{{ guest_user_view_url }}">Guest User</a> application.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'password_change_st_true'%}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>You had changed your password by clicking this link once.</p>
        <p>To change your password again use <a href="{{ new_password_view_url }}">New Password</a> menu.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'ldap_error' %}
    <h3>
        {% blocktrans %}
        <p>An error occured when your request is being processed.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% ifequal info 'expire_time' %}
    <h3>
        {% url new_password_view as new_password_view_url %}
        {% blocktrans %}
        <p>This link is timeout.</p>
        <p>Use <a href="{{ new_password_view_url }}">New Password</a> link and try again.</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/warning.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
    {% ifequal info 'host_user_info' %}
        {% blocktrans %}
        <h3>Username and password information is sent to your friend's email address.</h3>
        {% endblocktrans %}
    {% endifequal %}
{% ifequal info 'password_change_successful' %}
    <h3>
        {% blocktrans %}
        <p>Your new password was sent to your email address ({{ email }}).</p>
        {% endblocktrans %}
    </h3>
    <div class="row">
        <div class="offset4 span4">
            <img src="/site_media/images/check.png" alt="{% trans 'Warning' %}" >
        </div>
    </div>
{% endifequal %}
{% endblock %}
{% block language %}
{% endblock %}
