{% extends "main/base.html" %}

{% block content %}
{% ifequal info 'guest_user_already_exist' %}
    <h3>
        <p>Bu E-Posta adresiyle sistemimizde zaten bir kayıt bulunmaktadır.</p>
        <p>Eposta heabınızda size gönderilmiş parola bilgilerini içeren epostayı aratabilirsiniz.</p>
        <p>Parolanızı hatırlamıyorsanız <a href="{% url password_change_view %}">Parola değiştirme menüsünü</a> kullanarak e-posta hesabınıza yeni bir parola gelmesini sağlayabilirsiniz.</p>
    </h3>
{% endifequal %}
{% ifequal info 'new_user_already_exist' %}
    <h3>
        <p>{{ email }} adresi daha önce kaydedilmiş.</p>
        <p><a href="{% url password_change_view %}">Parola değiştirme menüsünü</a> kullanarak e-posta hesabınıza yeni bir parola gelmesini sağlayabilirsiniz.</p>
    </h3>
{% endifequal %}
{% ifequal info 'host_user_invalid' %}
    <h3> {{ host_user_email }} eposta adresine sahip biri sistemimizde kayıtlı değildir.</h3>
    {% endifequal %}
{% ifequal info 'password_change_invalid_mail' %}
    <h3>
        <p>Girmiş olduğunuz eposta adresi sistemimizde kayıtlı değildir.</p>
        <p> Yeni kullanıcı kaydı için <a href="{% url new_user_view %}">bağlantıya</a> tıklayınız. </p>
    </h3>
 {% endifequal %}
 {% ifequal info 'mail_confirm' %}
    <h3>
        <p>E-Posta ({{ email }}) adresinize gönderilen bağlantıya tıklayarak hesap açma işlemini tamamlayabilirsiniz.</p>
    </h3>
  {% endifequal %}
{% ifequal info 'password_change_mail_confirm' %}
    <h3>
        <p>E-Posta ({{ email }}) adresinize gönderilen bağlantıya tıklayarak yeni parolanızın hesabınıza gönderilmesini sağlayabilirsiniz.</p>
    </h3>
{% endifequal %}
{% ifequal info 'new_user_already_exists' %}
    <h3>
        <p>Bu bağlantıyı kullanarak daha önceden sistemimize kayıt yapmışsınız.</p>
        <p>Parolanızı unuttuysanız <a href="{% url password_change_view %}">Parola değiştirme menüsünü</a> kullanarak e-posta hesabınıza yeni bir parola gelmesini sağlayabilirsiniz.</p>
    </h3>
{% endifequal %}
{% ifequal info 'new_user_info' %}
    <h3>
        <p>Kablosuz bağlantı için erişim bilgileriniz {{ email }} adresine gönderilmiştir.</p>
    </h3>
{% endifequal %}
{% ifequal info 'new_user_link_timeout' %}
    <h3>
        <p>Zaman aşımı süresi içerisinde e-postanıza gelen bağlantıya tıklamadınız.</p>
        <p><a href="{% url new_user_view %}">Yeni kullanıcı başvurunuzu</a> tekrarlayınız.</p>
    </h3>
{% endifequal %}
{% ifequal info 'password_change_st_true'%}
    <h3>
        <p>Bu linkle tıklayarak daha önceden parolanızı bir kez değiştirmişsiniz</p>
        <p> Parolanızı tekrar değiştirmek için <a href="{% url password_change_view %}">Parola Değiştirme</a> menüsünü kullanabilirsiniz.</p>
    </h3>
{% endifequal %}
{% ifequal info 'ldap_error' %}
    <h3>
        <p>İşleminiz gerçekleştirilirken bir hata oluştu.</p>
    </h3>
{% endifequal %}
{% ifequal info 'expire_time' %}
    <h3>
        <p> Bu link zaman aşımına uğramıştır. </p>
        <p> <a href="{% url password_change_view %}">Parola Değiştirme</a> bağlantısını kullanarak tekrar deneyiniz</p>
    </h3>
{% endifequal %}
    {% ifequal info 'host_user_info' %}
        <h3> Arkadaşınızın EPosta adresine kullanıcı adı ve parolası gönderilmiştir</h3>
    {% endifequal %}
{% ifequal info 'password_change_successful' %}
    <h3>
        <p>Yeni parolanız e-posta ({{ email }}) adresinize gönderilmiştir.</p>
    </h3>
{% endifequal %}
{% endblock %}
{% block language %}
{% endblock %}
