{% extends "main/base.html" %}
{% block content %}
    <div class="hero-unit hero-logo">
        <div class="row">


            <div class="span4 offset4">
                <p align=center>
                    <img src="/site_media/images/comu_logo.png" alt="Çanakkale Onsekiz Mart Üniversitesi" >
                </p>
                <h2>{{ welcome_header }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                    <a href="{% url new_user_view %}" class="thumbnail">
                        <img src="/site_media/images/new_user.png" alt="Kaydol" ></a></li></ul>
            <h3>Yeni Kullanıcı</h3>
        </div>

        <!--<div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                        <a href="{% url guest_user_view %}" class="thumbnail">
                            <img src="/site_media/images/guest_user.png" alt="Misafir Kullanıcı " >
                        </a></li></ul>
            <h3>Misafir Kullanıcı</h3>
        </div>-->
        <div class="offset4 span4">
            <ul class="thumbnails">
                <li class="span3">
                        <a href="{% url new_password_view %}" class="thumbnail">
                            <img src="/site_media/images/password_change.png" alt="Yeni Parola" >
                        </a>
                </li>
            </ul>
            <h3>Yeni Parola</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <p class="lead">
                <strong>Yeni Kullanıcı</strong> menüsününden <strong>comu.edu.tr</strong> uzantılı kurum epostanız ile formu doldurunuz.
                Formu doldurduktan sonra e-postanıza gelen bağlantıya tıkladığınızda kullanıcı bilgileriniz e-postanıza
                gönderilecektir.
            </p>
            <p class="lead">
                Daha önce bir kablosuz hesabınız varsa <strong>Yeni Parola</strong> menüsünü kullanınız.
                Formu doldurduktan sonra e-postanıza gelen bağlantıya tıkladığınızda yeni parolanız e-postanıza
                gönderilecektir.
            </p>
            <p class="lead">
                <small>Çanakkale Onsekiz Mart Üniversitesi</small>
                <small>Tel: 0286 218 00 18 - 1410</small>
               <small> <a href="http://bidb.comu.edu.tr">BIDB Ana Sayfa</a></small>
                <small><a href="http://eduroam.comu.edu.tr">Eduroam Bağlantı Ayarları</a></small>
            </p>
        </div>
    </div>

{% endblock %}
{% block design %}
{% endblock %}
