{% extends "main/base.html" %}
{% block content %}

    <div class="row">
        <div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                    <a href="{% url new_user_view %}" class="thumbnail">
                        <img src="/site_media/images/linux1.jpg/" alt="" width="100" height="256">
                    </a>
                </p>
                </li>
            </ul>
            <p><h1>Acıklama</h1>
            <ul><li>Acıklama_</li></ul>
            </p>
        </div>
        <div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                <p>
                    <a href="{% url new_user_view %}" class="thumbnail">
                        <img src="/site_media/images/linux1.jpg/" alt="" width="100" height="256">
                    </a>
                </p>
                </li>
            </ul>
            <p><h1>Acıklama</h1>
            <ul><li>Acıklama_</li></ul>
            </p>
        </div>
        <div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                <p>
                    <a href="{% url password_change_views %}" class="thumbnail">
                        <img src="/site_media/images/linux1.jpg/" alt="" width="100" height="256">
                    </a>
                </p>
                </li>
            </ul>
            <p><h1>Acıklama</h1>
            <ul><li>Acıklama</li></ul>
            </p>
        </div>
    </div>


{% endblock %}
{% block design %}
{% endblock %}
