{% extends "main/base.html" %}
{% load i18n %}
{% block content %}
    <div class="hero-unit hero-logo">
        <div class="row">


            <div class="span4 offset4">
                <p align=center>
                    <img src="/site_media/images/comu_logo.png" alt="{% trans 'Çanakkale Onsekiz Mart University' %}" >
                </p>
                <h2>{% trans welcome_header %}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                    <a href="{% url new_user_view %}" class="thumbnail">
                        <img src="/site_media/images/new_user.png" alt="{% trans 'Register' %}" ></a></li></ul>
            <h3>{% trans "New User" %}</h3>
        </div>

        <!--<div class="span4">
            <ul class="thumbnails">
                <li class="span3">
                        <a href="{% url guest_user_view %}" class="thumbnail">
                            <img src="/site_media/images/guest_user.png" alt="Misafir Kullanıcı " >
                        </a></li></ul>
            <h3>Misafir Kullanıcı</h3>
        </div>-->
        <div class="offset4 span4">
            <ul class="thumbnails">
                <li class="span3">
                        <a href="{% url new_password_view %}" class="thumbnail">
                            <img src="/site_media/images/password_change.png" alt="{% trans 'New Password' %}" >
                        </a>
                </li>
            </ul>
            <h3>{% trans "New Password" %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <p class="lead">
                {% blocktrans %}
                From the <strong>New User</strong> menu fill the form with en email that has the extension of <strong>comu.edu.tr</strong>.
                After filling the form and clicking the link that is sent to your email, your connection credentials
                will be sent to your email.
                {% endblocktrans %}
            </p>
            <p class="lead">
                {% blocktrans %}
                If you have a wireless account already use <strong>New Password</strong> menu.
                After filling the form and clicking the link that is sent to your email, your connection credentials
                will be sent to your email.
                {% endblocktrans %}
            </p>
            <p class="lead">
                <small>{% trans "Çanakkale Onsekiz Mart University" %}</small>
                <small>Tel: 0286 218 00 18 - 1410</small>
               <small> <a href="http://bidb.comu.edu.tr"> {% trans "BIDB Main Page" %}</a></small>
                <small><a href="http://eduroam.comu.edu.tr"> {% trans "Eduroam Connection Settings" %}</a></small>
            </p>
        </div>
    </div>

{% endblock %}
{% block design %}
{% endblock %}
