{% extends "main/base.html" %}

{% block content %}

    <div class="row">
        <div class="span4 offset4">
            <form method="post" action="{% url new_user_view %}">{% csrf_token %}
                {% for field in form %}
                      {{ field.errors }}
                      {{ field.label_tag }}: {{ field }}
                {% endfor %}
             <p><button type="submit" class="btn">Sign in</button> </p>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    $(document).ready(function() {
        $("#id_faculty").change(function () {
            var str = "";
            $("#id_faculty option:selected").each(function () {
                str = $(this).index() + " ";
            });
            alert(str);
        })
                .change();
    });


    </script>

{% endblock %}
