{% extends "main/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <form method="post" action="{% url new_user_view %}">{% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                {% endfor %}
            <p></p>
                <p><button type="submit" class="btn">Kaydol</button> </p>
        </div>
        <div class="span4">
            <img src="/site_media/images/new_user.png" width="128" height="128">
            <h3> Açıklama</h1>
            <ul>
                <li>
                    Açıklama 1
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block language %}
{% endblock %}
