{% extends "main/base.html" %}

{% block content %}
    <div class="row">
        <div class="span5 offset3">
            <form method="post" action="{% url new_user_view %}">{% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {% ifequal field.label "Captcha" %}
                        <p>Matematiksel ifadenin karşılığını yazınız</p>
                    {% else %}
                        {{ field.label_tag }}
                    {% endifequal %}
                    {{ field }}
                {% endfor %}
            <p></p>
                <p><button type="submit" class="btn">Kaydol</button> </p>
        </div>
        <div class="span4">
            <img src="/site_media/images/new_user.png" width="128" height="128">
            <br />
            <br />
            <br />{{ info }}
        </div>
    </div>
{% endblock %}
{% block language %}
{% endblock %}
