{% extends "main/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
        <div class="hero-unit hero-logo">
        <div class="row">
            <form method="post" action="{% url password_change_views %}">{% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                {% endfor %}
                <p><button type="submit" class="btn">Gönder</button> </p>
        </div></div></div>
        <div class="span4">
            <img src="/site_media/images/password_change.png" width="128" height="128">
            <br />
            <br />
            <br /><h3>{{ info }}</h3>
        </div>
    </div>
{% endblock %}
{% block language %}
{% endblock %}
