{% extends "main/base.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="span4 offset4">

            <form method="post" action="{% url guest_user_view %}">{% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="control-group error">
                                <div class="controls">
                                    {% ifequal field.label "Captcha" %}
                                        <span class="help-inline">{{ error|escape }} (<strong>{%  trans 'Mathematical result' %}</strong>)</span>
                                    {% else %}
                                        <span class="help-inline">{{ error|escape }} (<strong>{{ field.label }}</strong>)</span>
                                    {% endifequal %}
                                </div>
                            </div>
                        {% endfor %}
                        {% ifequal field.label "Captcha" %}
                            <div class="control-group error">{%  trans 'Write the corresponding result for the mathematical expression' %}</div>
                        {% else %}
                            {{ field.label_tag }}
                        {% endifequal %}
                        <div class="control-group">
                            <div class="controls">
                                {{ field }}
                            </div>

                        </div>
                    {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{%  trans 'Send' %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <img src="/site_media/images/new_user.png" width="128" height="128">
            <br />
            <br />
            <br />{{ info }}
        </div>
    </div>
{% endblock %}
{% block language %}
{% endblock %}
