{% extends "main/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <form method="post" action="{% url guest_user_view %}">{% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                {% endfor %}
                <p></p>
                <p><button type="submit" class="btn">Gönder</button> </p>
        </div>
        <div class="span4">
            Açıklama
        </div>
    </div>
{% endblock %}
{% block language %}
{% endblock %}
